# template for config file. copy it as config.cfg and set
# necessary values

[europian]
method_type = explicit
strike_price = 150.0
maturity = 1.0
interest_rate = 0.05
volatility = 0.01
asset_price_min = 0.0
asset_price_max = 350.0

# parameters of finite difference method
time_steps_number = 1225
asset_price_steps_number = 3500

[asian]
method_type = explicit
strike_price = 150.0
maturity = 1.0
interest_rate = 0.05
volatility = 0.01
asset_price_min = 0.0
asset_price_max = 350.0
average_price_min = 0.0
average_price_max = 200.0

# parameters of finite difference method
time_steps_number = 100000
asset_price_steps_number = 700
average_price_steps_number = 400

[other]
results_path = /var/tmp
